*      text=auto
*.bat  eol=crlf

/test           export-ignore
/spec           export-ignore

# Remove all dot files for export
/.*             export-ignore
phpcs.xml       export-ignore
phpspec.yml     export-ignore
