<phpunit backupGlobals="true"
    backupStaticAttributes="false"
    bootstrap="./bootstrap.php"
    cacheTokens="false"
    colors="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="false"
    mapTestClassNameToCoveredClassName="false"
    printerClass="PHPUnit_TextUI_ResultPrinter"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
    strict="false"
    verbose="false">
    <testsuites>
        <testsuite name="Teapot">
            <directory suffix="Test.php" phpVersion="5.3.0" phpVersionOperator=">=">./Teapot</directory>
        </testsuite>
  </testsuites>
</phpunit>
